@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("Lato"), url("/fonts/Lalo/Lato-Regular.ttf") format("ttf"), url("/fonts/Lalo/Lato-Regular.ttf") format("ttf");
  }